modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Streamlit App"

[[workflows.workflow]]
name = "Streamlit App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.address 0.0.0.0 --server.port 8501 --server.maxMessageSize 800 --browser.serverAddress 0.0.0.0 --server.enableCORS false --server.enableXsrfProtection false --server.enableWebsocketCompression true --server.headless true --logger.level debug"
waitForPort = 8501

[deployment]
run = ["sh", "-c", "streamlit run main.py --server.address 0.0.0.0 --server.port 8501 --server.maxMessageSize 800 --browser.serverAddress 0.0.0.0 --server.enableCORS false --server.enableXsrfProtection false --server.enableWebsocketCompression true --server.headless true --logger.level debug"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8501
externalPort = 3002
